<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=192.168.0.101,1435;Database=QUANLYBANHANG;User Id=sa;Password=P@ss12345;TrustServerCertificate=true;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>